@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: theme("borderRadius.lg");
    overflow: hidden;
    max-width: theme("maxWidth.sm");
  }

  .card__copy {
    --flow-space: 1rem;
    line-height: theme("lineHeight.relaxed");
    color: theme("colors.main-p");
  }

  .card__figure {
    object-fit: cover;
  }

  .stat {
    --flow-space: 1.5rem;
  }

  .stat__number {
    display: block;
    font-size: theme("fontSize.2xl");
    font-weight: bold;
    color: theme("colors.n-white");
  }

  .stat__heading {
    display: block;
    color: theme("colors.stats-heading");
    text-transform: uppercase;
    font-family: theme("fontFamily.lexend");
    font-size: theme("fontSize.sm");
  }

  @media (min-width: theme("screens.xl")) {
    .card {
      max-width: 69rem;
      display: grid;
      grid-template-columns: 51% calc(100% - 49%);
      grid-template-areas: "body img";
    }

    .card__figure {
      grid-area: img;
    }

    .card__copy {
      --flow-space: 1.7rem;
      padding-right: theme("padding.12");
    }

    .stats {
      display: flex;
      gap: theme("gap.16");
      --flow-space: 2.75rem;
    }
  }
}

@layer utilities {
  .flow > * {
    margin-top: var(--flow-space, 2.5rem);
  }
}
